@mixin container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: $max-width;
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
